#u1331
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
}

#u1331_align_to_page
{
	position: relative;
}

#u1335-4
{
	background-color: transparent;
	letter-spacing: 2px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1333
{
	background-color: transparent;
	position: relative;
}

#u1332-4
{
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 14px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

